# Specify filepatterns you want git to ignore.

.bash_history
.env*
*.db

venv
__pycache__
.pytest_cache

gradle/
build/
out/
.kotlin/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.gradle/
/*/build/*
.gradletasknamecache